<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="Calculator" packages="">
    <Appenders>
        <File name="logger" fileName="logs/calculator.log">
            <PatternLayout>
                <Pattern>%d{YYYY:MM:dd - HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="logger"/>
        </Root>
    </Loggers>
</Configuration>